<div class="container mt-5 mb-5">
  <h1 class="text-center">Editar Quiz</h1>
  <hr>
  <div class="card">
    <div class="row d-flex justify-content-center mt-5">
      <div class="col-md-6">
        <div class="form-group">
          <label for="nomeQuiz">Título do quiz:</label>
          <input [(ngModel)]="quiz.titulo" class="form-control" type="text"
            name="nomeQuiz" id="nomeQuiz" placeholder="Título do quiz">
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="fotoQuiz">Foto de capa do quiz:</label>
          <input [(ngModel)]="quiz.foto" class="form-control" type="text"
            name="fotoQuiz" id="fotoQuiz" placeholder="Link da foto">
        </div>
      </div>

    </div>

    <div class="card-body">


      <div class="row">
        <div class="col-md-6 mt-3" *ngFor="let item of quiz.pergunta">

          <div class="card">

            <form class="m-3">


              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="pergunta">Pergunta:</label>
                    <input [(ngModel)]="item.pergunta" class="form-control"
                      type="text" name="pergunta" id="pergunta"
                      placeholder="Digite sua pergunta">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="foto">Foto da pergunta:</label>
                    <input [(ngModel)]="item.foto" class="form-control"
                      type="text" name="foto" id="foto"
                      placeholder="Link da foto">
                  </div>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="">Respostas:</label>
                    <input [(ngModel)]="item.resposta1" type="text"
                      class="form-control" name="resposta1" id="resposta1"
                      placeholder="Primeira resposta">
                  </div>
                </div>
                <!-- <div class="col-md-2">
                  <div class="form-check mt-2">
                    <input [(ngModel)]="item.correta" class="form-check-input"
                      type="radio" name="correta" id="correta1" value="opcao1">
                    <label class="form-check-label" for="correta1">
                    </label>
                  </div>
                </div> -->
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input [(ngModel)]="item.resposta2" type="text"
                      class="form-control" name="resposta2" id="resposta2"
                      placeholder="Segunda resposta">
                  </div>
                </div>
                <!-- <div class="col-md-2">
                  <div class="form-check mt-2">
                    <input [(ngModel)]="item.correta" class="form-check-input"
                      type="radio" name="correta" id="correta2" value="opcao2">
                    <label class="form-check-label" for="correta2">
                    </label>
                  </div>
                </div> -->
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input [(ngModel)]="item.resposta3" type="text"
                      class="form-control" name="resposta3" id="resposta3"
                      placeholder="Terceira resposta">
                  </div>
                </div>
                <!-- <div class="col-md-2">
                  <div class="form-check mt-2">
                    <input [(ngModel)]="item.correta" class="form-check-input"
                      type="radio" name="correta" id="correta3" value="opcao3">
                    <label class="form-check-label" for="correta3">
                    </label>
                  </div>
                </div> -->
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input [(ngModel)]="item.resposta4" type="text"
                      class="form-control" name="resposta4" id="resposta4"
                      placeholder="Quarta resposta">
                  </div>
                </div>
                <!-- <div class="col-md-2">
                  <div class="form-check mt-2">
                    <input [(ngModel)]="item.correta" class="form-check-input"
                      type="radio" name="correta" id="correta4" value="opcao4">
                    <label class="form-check-label" for="correta4">
                    </label>
                  </div>
                </div> -->
              </div>

              <div class="row">
                <div class="col-md-12 d-flex justify-content-center align-items-center">

                    <label for="correta" class="mr-2">Resposta correta:</label>
                    <input [(ngModel)]="item.correta" type="number"
                      class="form-control tm-correta" name="correta" id="correta"
                      placeholder="Quarta resposta" min="1" max="4">

                </div>
              </div>

            </form>

          </div>

        </div>

      </div>

    </div>

    <div class="d-flex justify-content-center mb-3">
      <a class="btn btn-danger mr-3" routerLink="/meu-quiz/{{idUser}}">Cancelar</a>
      <button (click)="atualizar()" type="button" class="btn btn-success">Atualizar</button>
    </div>

  </div>

</div>
