<body class="fundo">

  <div class="container d-flex justify-content-center">
    <div class="card mb-5 mt-5" style="width: 40rem;">
      <img (error)="onImgError($event)" class="card-img-top tm-img"
        src="{{quiz.pergunta[perguntaApresentada].foto}}"
        alt="Imagem de capa do card">
      <div *ngIf="finaliza == false" class="card-body">
        <h5 class="card-title">{{quiz.pergunta[perguntaApresentada].pergunta}}
        </h5>

        <div class="row mt-3">
          <div class="col-md-12">
            <div class="form-group d-flex justify-content-center">
              <button [ngStyle]="{'backgroundColor': cor}" (click)="proximaPergunta(1)" class="form-control btn-resp">
                {{quiz.pergunta[perguntaApresentada].resposta1}}</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group d-flex justify-content-center">
              <button [ngStyle]="{'backgroundColor': cor2}" (click)="proximaPergunta(2)" class="form-control btn-resp">
                {{quiz.pergunta[perguntaApresentada].resposta2}}</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group d-flex justify-content-center">
              <button [ngStyle]="{'backgroundColor': cor3}" (click)="proximaPergunta(3)" class="form-control btn-resp">
                {{quiz.pergunta[perguntaApresentada].resposta3}}</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group d-flex justify-content-center">
              <button [ngStyle]="{'backgroundColor': cor4}" (click)="proximaPergunta(4)" class="form-control btn-resp">
                {{quiz.pergunta[perguntaApresentada].resposta4}}</button>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <p>{{perguntaApresentada + 1}}/{{questoes}}</p>
        </div>
      </div>

      <div *ngIf="finaliza" class="card-body">

        <div *ngIf="acertos == questoes" class="text-center">
          <h2>Gabaritou!</h2>
          <h2 class="text-center text-success mt-3">{{acertos}}/{{questoes}}</h2>
        </div>

        <div *ngIf="acertos >= ((questoes / 3)*(2)) && acertos < questoes" class="text-center">
          <h2>Mandou muito bem!</h2>
          <h2 class="text-center text-info mt-3">{{acertos}}/{{questoes}}</h2>
        </div>

        <div *ngIf="acertos > (questoes / 3) && acertos < ((questoes / 3)*(2))" class="text-center">
          <h2>Meeh! Você precisa melhorar!</h2>
          <h2 class="text-center text-warning mt-3">{{acertos}}/{{questoes}}</h2>
        </div>

        <div *ngIf="acertos <= (questoes / 3)" class="text-center">
          <h2>Sabe de nada!</h2>
          <h2 class="text-center text-danger mt-3">{{acertos}}/{{questoes}}</h2>
        </div>

        <div class="d-flex justify-content-center mt-4">
          <button routerLink="/home" class="btn btn-primary mr-2">Home</button>
          <button (click)="jogarNovamente()" class="btn btn-success">Repetir</button>
        </div>

      </div>

    </div>
  </div>

</body>
